<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CCSM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        [data-toggle="collapse"] .fa:before {
            content: "\f139";
        }

        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f13a";
        }

        .margin-top {
            margin-top: 5px;
        }

        .orange {
            background-color: #FF5500;
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .hashrate {
            font-size: large;
            font-weight: bold;
        }

        .bold {
            font-weight: bold;
        }

        .amount {
            font-size: large;
        }
        table tbody td {
            padding: 0.5rem !important;
        }
    </style>
    <script>
    </script>
</head>

<body>
    <div id="app" class="container">
        <h4 class="text-center text-success" style="margin-top: 5px;">CCSM Center</h4>
        <div id="accordion">
            <div v-for="(w,i) in wallets" class="card margin-top">
                <div class="card-header" v-bind:id="'heading' + w.id.toString()">
                    <h5 class="mb-0">
                        <button class="btn btn-light" data-toggle="collapse"
                            v-bind:data-target="'#collapse' + w.id.toString()"
                            v-bind:aria-expanded="i==0?'true':'false'"
                            v-bind:aria-controls="'collapse' + w.id.toString()"><i class="fa"></i>
                            {{w.name}}
                        </button>
                        <!-- <button class="btn btn-success" style="float: right;" aria-expanded="false"
                            aria-controls="collapseTwo">
                            <i class="fa" aria-hidden="true"></i>
                            Refresh
                        </button> -->
                    </h5>
                </div>
                <div v-bind:id="'collapse' + w.id.toString()" v-bind:aria-labelledby="'heading' + w.id.toString()"
                    data-parent="#accordion" v-bind:class="['collapse', i==0?'show':'']">
                    <div class="card-body">
                        <div class="container">
                            <div class="row" style="border: solid 1px #e9ecef; padding: 20px;">
                                <div class="col">
                                    <h6 class="text-break text-center"><a
                                            v-bind:href="'https://eth.2miners.com/account/' + w.address"
                                            target="_blank">{{w.address}}</a></h6>
                                    <div class="progress">
                                        <div class="progress-bar orange" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"
                                            v-bind:style="{width : formatNumber(w.details.stats.balance/1000000000/0.05,2)*100+'%'}">
                                            {{formatNumber(w.details.stats.balance/1000000000/0.05,2)*100}}%</div>
                                    </div>
                                    <h4 class="text-center text-success">&nbsp;</h4>
                                    <div class="row">
                                        <div class="col">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="bold">Unpaid Balance</td>
                                                            <td class="bold amount">
                                                                {{formatNumber(w.details.stats.balance/1000000000,5)}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold">Total Paid</td>
                                                            <td class="bold amount">
                                                                {{formatNumber(w.details.stats.paid/1000000000,5)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="bold">Current Hashrate</td>
                                                            <td class="hashrate">
                                                                {{formatHashrate(w.details.currentHashrate)}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold">Average Hashrate</td>
                                                            <td class="hashrate">{{formatHashrate(w.details.hashrate)}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Period<br></th>
                                                            <th>ETH</th>
                                                            <th>USD</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(sw,i) in w.details.sumrewards">
                                                            <td>{{sw.name}}</td>
                                                            <td>{{formatNumber(sw.reward/1000000000,5)}}</td>
                                                            <td>{{formatNumber(sw.reward/1000000000*price,2)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Worker</th>
                                                            <th>Last Beat</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(value, name) in w.details.workers">
                                                            <td>{{name}}</td>
                                                            <td>{{formatDateTime(value.lastBeat)}}</td>
                                                            <td style="text-align: center;"><i
                                                                    v-bind:class="['fa', value.offline?'fa-times':'fa-check', value.offline?'red':'green']"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"
        integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2/dist/vue-resource.min.js"
        integrity="sha256-bo2QIPkpVnhGaoXpy97bY7D3IKWWX0TqOU2/ANBD4v4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/currency.js@2.0.3/dist/currency.min.js"
        integrity="sha256-WGXmCGFm1BJY0ZVHoBOl15eOyHz4ICCwbaNyP6DHtbQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"
        integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
        integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        //$('#qrcode').qrcode({ width: 120, height: 120, text: "0xdd5b869766620e3f0d744025e9ea04e2dd14eeb5" });
        const WALLET_SERVICE_URL = "https://5d073b61fa00250014577c37.mockapi.io/wallet";
        const MINER_POOL_URL = "https://eth.2miners.com/api/accounts/"
        const PRICE_SERVICE_URL = "https://api.coingecko.com/api/v3/simple/price?vs_currencies=usd&ids=ethereum"
        var vapp = new Vue({
            el: '#app',
            data: {
                wallets: [],
                price: 0,
                miners: [],
                twallet: [],
                c: 0
            },
            methods: {
                getEthPrice: function () {
                    this.$http.get(PRICE_SERVICE_URL).then(response => {
                        let r = response.body;
                        this.price = r["ethereum"].usd
                        console.log(this.price);
                    }, response => {
                        console.log(response)
                    });
                },
                getAllWallet: function () {
                    this.$http.get(WALLET_SERVICE_URL).then(response => {
                        let wallets = response.body;
                        this.c = 0;
                        var self = this;
                        wallets.forEach(w => {
                            this.$http.get(MINER_POOL_URL + w.address).then(response => {
                                this.twallet.push({ id: w.id, name: w.name, address: w.address, details: response.body })
                                if (this.c == wallets.length - 1) {
                                    this.wallets = this.twallet.sort(this.compare);
                                    setTimeout(() => {
                                        let wallets = self.wallets;
                                        wallets.forEach(wallet => {
                                            $('#qrcode' + wallet.id.toString()).qrcode({ width: 120, height: 120, text: wallet.address })
                                        });
                                    }, 100);
                                }
                                this.c++;
                            }, response => {
                                console.log(response)
                            });
                        });
                    }, response => {
                        console.log(response)
                    });
                },
                formatNumber: function (number, precision) {
                    return (number).toFixed(precision).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                },
                formatDateTime: function (timestamp) {
                    let dt = new Date(timestamp * 1000)
                    return moment(dt).fromNow();
                },
                formatHashrate: function (hash) {
                    let hr = hash / 1000000;
                    if (hr >= 1000) {
                        return this.formatNumber(hash / 1000000000, 2) + ' GH/s';
                    }
                    else {
                        return this.formatNumber(hr, 2) + ' MH/s';
                    }
                },
                compare: function (a, b) {
                    if (a.details.workersTotal > b.details.workersTotal) {
                        return -1;
                    }
                    else if (a.details.workersTotal < b.details.workersTotal) {
                        return 1;
                    }
                    else {
                        if (a.details.hashrate > b.details.hashrate) {
                            return -1;
                        }
                        else if (a.details.hashrate < b.details.hashrate) {
                            return 1;
                        }
                    }
                    return 0;
                },
                /*sum: function () {
                    return this.coin_list.map(n => n.amount * n.price).reduce((a, b) => a + b, 0)
                } */
            },
            mounted: function () {
                this.getEthPrice();
                this.getAllWallet();
                /* let ids = this.coin_list.map(n => n.name).join(',');
                this.getCoinPrice(ids);
                setInterval(() => {
                    this.getCoinPrice(ids);
                }, 120000);

                let url = "https://eth.2miners.com/api/accounts/0xdd5b869766620e3f0d744025e9ea04e2dd14eeb5";
                let headers = {
                    'Content-Type': 'application/json',
                    "x-auth-token": "05e3ea03-5088-4e37-ba5b-c8de78fe6bee",
                    "User-Agent":"test"
                }
                let data = { owner_uid : "2e63d448-3ce6-4efd-914a-2f7fb1dfc5eb", pagination :  { count : 50, offset : 0 } }
                this.$http.get(url).then(response => {
                    console.log(response);                        
                }, response => {
                    console.log(response)
                }); */
            }
        });
    </script>
</body>

</html>